html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

@font-face {
    font-family: weatherStar;
    src: url(./Fonts/Star4000/Star4000.ttf);
}

@font-face {
    font-family: weatherStarSmall;
    src: url(./Fonts/Star4000/Star4000Small.ttf);
}

body {
	width: 1200px;
	margin: 0 auto;
	background-position: center;
	background-color: black;
	font-family: 'weatherStar', monospace;
}



.mainBar {
	width: 1200px;
	height: 200px;
	background-color: rgb(28, 16, 81);
	background-position: center;
	padding: 15px; 
	text-shadow:
		4px 4px #000;	
}

.subBar {
	border-top: 160px solid rgb(196, 89, 1);
    border-right: 90px solid transparent;
	border-left: 0 solid transparent;
	height: 0;
	width: 950px;
	display: flex;
	position: fixed;
	background: linear-gradient(rgb(49, 22, 73), rgb(180, 98, 20));
}


.logo {
	margin-top: -125px;
}

.headline {
	color: rgb(223, 180, 39);
	font-size: 50px;
	background-position: center;
	margin-top: -125px;
	padding: 20px;
}

.timestamp {
	color: white;
	font-style: bold;
	font-size: 32px;
	font-family: 'weatherStarSmall', monospace;
	text-align: center;
}

main {
	width: 1200px;
	height: 1000px;
	background: linear-gradient(rgb(49, 22, 73), rgb(180, 98, 20)); 
}

.mainBox {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	background-color: rgb(36, 43, 90);
	border-style: 10px solid rgb(58, 82, 132);
}